# Environment variables
.env

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
#uploads folder
uploads/

# Coverage directory
coverage

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store